<div class="add_cocktail">
  <%= link_to 'CRUD a cocktail <i class="fas fa-plus-circle"></i>'.html_safe, "#", class: "btn btn-ghost" %>
  <%= render 'new' %>
</div>

<div class="cards">
  <% @cocktails.each do |cocktail| %>
    <div  class="card-category"
          style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      <%= link_to cocktail.name.upcase, cocktail_path(cocktail) %>
    </div>
  <% end %>
</div>






